@model SaleCo.Models.ITEMS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ITEMS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_DESRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_DESRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ITEM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
